<div class="form-group">
    <label for="username-input">Username:</label>
    <input type="text" class="form-control" id="username-input" name="username-input">
</div>
<div class="form-group">
    <label for="password-input">Password:</label>
    <input type="password" class="form-control" id="password-input" name="password-input">
</div>