<table>
    <tr>
        <th>left</th>
        <th>mid</th>
        <th>right</th>
    </tr>
    {{#each boards}}
    <tr>
        <td>{{#if left}}X{{/if}}</td>
        <td>{{#if mid}}X{{/if}}</td>
        <td>{{#if right}}X{{/if}}</td>
    </tr>
    {{/each}}
</table>