<table id="board-game" data-gameid="{{id}}">
    <tr>
        <td id="upper_left"><div>{{#if upper_left}}X{{/if}}</div></td>
        <td id="upper_mid"><div>{{#if upper_mid}}X{{/if}}</div></td>
        <td id="upper_right"><div>{{#if upper_right}}X{{/if}}</div></td>
    </tr>
    <tr>
        <td id="center_left"><div>{{#if center_left}}X{{/if}}</div></td>
        <td id="center_mid"><div>{{#if center_mid}}X{{/if}}</div></td>
        <td id="center_right"><div>{{#if center_right}}X{{/if}}</div></td>
    </tr>
    <tr>
        <td id="lower_left"><div>{{#if lower_left}}X{{/if}}</div></td>
        <td id="lower_mid"><div>{{#if lower_mid}}X{{/if}}</div></td>
        <td id="lower_right"><div>{{#if lower_right}}X{{/if}}</div></td>
    </tr>
</table>

<button id="update-board">update board</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/socket-test.js"></script>