<div class="game-nav">
    <a class="btn btn-primary" href="/dashboard">
        <h3><span class="material-icons">reply</span> Exit Game</h3>
    </a>
</div>
<div class="game-infor-bar container">
    <div class="row">
        <div class="x-player player col">
            <div class="row x-or-o-icon">
                <span class="material-icons">close</span>
            </div>
            <div class="row user-name">
                <h1>ddaly</h1>
            </div>
        </div>
        <div class="turn-status col">
            <h2>It is ddaly's turn</h2>
        </div>
        <div class="o-player player col">
            <div class="row x-or-o-icon">
                <span class="material-icons">panorama_fish_eye</span>
            </div>
            <div class="row user-name">
                <h1>krob</h1>
            </div> 
        </div>
    </div>
</div>
<section class="game-board">
{{>board}}
</section>

{{#unless (isFinished status)}}
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/games.js"></script>
{{/unless}}