<div class ="game-container">
    <div class="turn-status col">
    <h2>Current Players turn</h2>
</div>
    <div class="players">
    <div class="row user-name">
                <h1>Player 1</h1>
            </div>
            <div class="row user-name-2">
                <h1>Player 2</h1>
            </div> 
            </div>
<section class="game-board">
{{>board}}
</section>
<div class="waiting-for-opponent">Waiting for opponents move ...</div>
</div>
<div class="game-nav">
    <h3>Exit</h3>
</div>

{{#unless (isFinished status)}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/socket.js"></script>
<script src="/javascript/board-requests.js"></script>
{{/unless}}