<section id="intro" class="mb-3 d-flex flex-column">
    <h1>Tic-Tac-Whoa</h1>
    <p>Welcome to the best free tic-tac-toe game platform! You can challenge your friends and keep track of your progress!</p>    
</section>

<section id="getting-started" class="mb-3 d-flex flex-column">
    <h4>Login to start playing!</h4>
    <a class="btn btn-info" id="go-to-login" href="/login">Login</a>    
</section>

<section id="getting-started" class="mb-3 d-flex flex-column">
    <h4>How to get started</h4>
    <ol>
        <li>First either login to your existing account or sign up to create a new one</li>
        <li>Then start a new game from your dashboard</li>
        <li>Make sure to enter your friend's username that you want to play with</li>
        <li>When you both join the game, it will start</li>
        <li>Finally, play tic-tac-toe to see who is the best!</li>
    </ol>
</section>