<h1>Ultimate Free Tic-Tac-Toe</h1>
<h4>Welcome to the best free tic-tac-toe game environemnt! You can challenge your friends and keep track of your progress!</h4>
<h6>Login to get started now!</h6>
<button id="go-to-login">Login</button>

<h5>How to get started</h5>
<ol>
    <li>First either login to your existing account or sign up to create a new one</li>
    <li>Then start a new game from your dashboard</li>
    <li>Make sure to enter your frined's username that you want to play with</li>
    <li>When you both join the game, it will start</li>
    <li>Finally, play tic-tac-toe to see who is the best!</li>
</ol>

<script src="/javascript/home-unauth.js"></script>