<h1>I am baaaack</h1>
{{#if users}}
<ul>
    {{#each users}}
    <li>{{username}}</li>
    {{/each}}
</ul>
{{/if}}

<button id="create-board">Create Board</button>

<script src="/javascript/board-test.js"></script>