<h2 class="text-center">Login to Your Account</h2>
<section class="d-flex flex-column align-items-center">
    <form class="login-form mb-3">
        {{> login-partial}}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a href="/signup">Don't already have an account? Sign up instead.</a>    
</section>
<script src="public/javascript/login.js"></script>