<h2 class="text-center">Signup for a New Account</h2>
<section class="d-flex flex-column align-items-center">
    <form class="signup-form mb-3">
        {{> login-partial}}
        <button type="submit" class="btn btn-primary">Sign Up</button>    
    </form>
    <a href="/login">Already have an account? Login instead.</a>    
</section>
<script src="/javascript/signup.js"></script>