.game-board {
    display: flex;
    justify-content: center;
}
.game-board table {
    width: 90%;
}

tr, td {
    border: 1px solid black;
}
td {
    width: 33.33333%
}
td div {
    height: 50px;

    cursor: pointer;

    text-align: center;
}