body {
    background-color: #9DC3E6;
}
.game-container {
    background: #e8edea;
    color: #F4B183;
    padding: 2%;
    border: 2px double white;
    border-width: thick;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
}

nav, section {
    display: flex;
    justify-content: center;
}
#board-game {
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px solid black;
    background-color: white;
}
.game-board table {
    width: 450px;
    height: 450px;
}

tr, td {
    border: 1px solid black;
}
td {
    width: 33.33333%
}
td div {
    height: 100%;
    font-size: 90px;
    cursor: pointer;
    background-color: #e8edea;
    text-align: center;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: center;
}

.players {
    display: flex;
    justify-content: space-around;
}

/* Media Query */
@media screen and (max-width: 575px) {
#board-game {
    justify-content: center;
    position: relative;
    width: 100%;
    border: none;
}
.game-board table {
    width: 100px;
    height: 100px;
}
.game-container {
    margin-right: 0;
    margin-left: 0;
    border: none;
    padding: 0;
}
.players {
    display: flex;
    flex-direction: column;
    align-items: center;
}
td div {
    height: 100%;
    font-size: 50px;
    cursor: pointer;
    background-color: #e8edea;
    text-align: center;
}
}
@media screen and (max-width: 768px) {
.game-container {
    margin-right: 2%;
    margin-left: 2%;
}
#board-game {
    border: none;
    padding: 5px;
}

}
