body {
    background-color: #9DC3E6;
}
.game-container {
    background: #e8edea;
    color: #F4B183;
    padding: 2%;
    border: 2px double white;
    border-width: thick;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
}

nav, section {
    display: flex;
    justify-content: center;
}
#board-game {
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px solid black;
    background-color: white;

    width: 80%;
}
#board-game tr, #board-game td {
    border: 1px solid black;
}
#board-game td {
    width: 33.33333%;
    height: 150px;

    cursor: pointer;
    background-color: #e8edea;
    text-align: center;
}
.players {
    display: flex;
    justify-content: space-around;
}
.btn-info {
    margin: 0 auto;
}
ol {
    margin: auto;
}
li {
    text-align: left;
    padding: 2px;
}
h1 .material-icons {
    font-size: 2.5rem
}
#board-game td .material-icons {
    font-size: 120px
}

#win-loss-stats table {
    width: 50%;
    background-color: #e8edea;
}
#win-loss-stats tr, #win-loss-stats td {
    border: 1px solid black;
}
#game-status .list-group {
    width: 75%
}
#game-status h3 {
    margin: 15px 0;
}
#new-game-form {
    width: 50%;
}
/* Media Query */
@media screen and (max-width: 1000px) {
    #board-game {   
        width: 90%;
    }
    td .material-icons {
        font-size: 90px
    }
}
@media screen and (max-width: 768px) {
.game-container {
    margin-right: 2%;
    margin-left: 2%;
}
#board-game {
    border: none;
    padding: 5px;
}
#win-loss-stats table {
    width: 80%;
}
}
@media screen and (max-width: 575px) {
#board-game {
    justify-content: center;
    position: relative;
    width: 100%;
    border: none;
}
.game-container {
    margin-right: 0;
    margin-left: 0;
    border: none;
    padding: 0;
}
.players {
    flex-direction: column;
    align-items: center;
}
#board-game td {
    height: 80px;
}
#board-game td .material-icons {
    font-size: 50px
}
#win-loss-stats table {
    width: 95%;
}
#game-status .list-group {
    width: 95%
}
#game-status h3 {
    font-size: 1.2rem
}
}

